@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

body {
  background-color: #000;
  color: #fff;
}

/*///////////////////--HOME-PAGE--///////////////////// */

.title-main,
.title-secondary {
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
}

.title-main {
  animation: moveInRight 1s ease-in-out;
}

.title-secondary {
  animation: moveInLeft 1s ease-in-out;
}

@keyframes moveInRight {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@media only screen and (max-width: 650px) {
  .title-secondary {
    text-align: center;
  }
}

/*///////////////////--CARDS--///////////////////// */
.animated-section {
  opacity: 0; /* Initial state, hidden */
  transform: translateY(20px); /* Initial state, moved down */
  transition: all 1s ease-in-out;
}

.animated-section.visible {
  opacity: 1; /* Visible when active */
  transform: translateY(0px); /* Positioned normally when active */
}

.card-container {
  perspective: 1000px;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 1s;
}

.card-container:hover .card {
  transform: rotateY(-180deg);
}

.card-front,
.card-back {
  background: linear-gradient(to bottom right, #000000, #0091ea, #3f2b96);
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card-back {
  transform: rotateY(180deg);
}

/*///////////////////--NAVBAR--///////////////////// */
header ul {
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
}

/*///////////////////--ABOUT--///////////////////// */
.about-mail {
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 1);
}
